.logo-container {
  @include flexCenter;
  height: 100vh;
  background-color: $bg-color1;
  text-align: center;
}

.logo-content {
  animation: fadeIn 2s ease-in-out;
}

.logo-title {
  font-size: 2rem;
  letter-spacing: 4rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  opacity: 1;
}

.logo-subTitle {
  font-size: 1.5rem;
  letter-spacing: 2rem;
  color: $text-color1;
  white-space: nowrap;
  opacity: 0;
  transform: translate(5px, -100%);
}

.logo-title .char {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (max-width: 768px) {
  .logo-title {
    font-size: 1.7rem;
    letter-spacing: 2rem;
  }

  .logo-subTitle {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}
