/* .intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

.intro-content {
  animation: all 2s ease-in-out;
}

.intro-title {
  font-size: 2rem;
  letter-spacing: 2rem;
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 */
.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

.intro-content {
  animation: fadeIn 2s ease-in-out;
}

.intro-title {
  font-size: 2rem;
  letter-spacing: 2rem; /* 초기 문자 간격 설정 */
  color: #333;
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 문자가 붙으면서 넘치지 않도록 처리 */
  display: inline-block; /* 인라인 블록으로 설정하여 문자 간격 조정 가능 */
}

.intro-title .char {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
