.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

.intro-content {
  animation: all 2s ease-in-out;
}

.intro-title {
  font-size: 2rem;
  letter-spacing: 2rem;
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
